/*RESET*/
*{
margin:0;
padding: 0;
box-sizing: border-box;
}

/*GLOBAL*/
body{
font-family: Arial, Helvetica, sans-serif;
background: gold;
color:black;
}

/*HERO SECTION*/
.banner{
text-align: center;
padding: 30px 10px;
background-color: gold;
color: white;
padding-bottom: 24px;
}

.banner-img {
width: 100%;
max-height: 400px;
object-fit: contain;
border-radius: 10px;
margin-top: 15px;
margin: 24px auto;
}

.banner-wrap{
background: #111;
padding: 24px;
border-radius: 8px;
}

.banner h1{
text-align: center;
padding: 30px 10px;
color: white;
font-weight: 100px;
background-color: #000;
font-size: 1.6rem;
margin-bottom: 8px;
}

.banner h2{
text-align: center;
padding: 30px 10px;
color: white;
background-color: #000;
opacity: 0.85;
font-size: 1rem;
margin-top:-15px;
}

.tagline{
letter-spacing: 0.5px;
font-weight: 500;
}



/*CTA BUTTON*/
.cta-container{
margin-top: 20px;
display: flex;
gap: 15px;
justify-content: center;
flex-wrap: wrap;
}

.cta-btn{
display: inline-block;
padding: 14px 24px;
margin-top: 25px;
margin-bottom: 25px;
background: red;
color:#000;
font-weight: 600;
text-decoration: none;
border-radius: 6px;
text-transform: uppercase;
padding:14px 22px;
border-radius: 6px;
box-shadow: 0 4px 0 #8b0000;
transition: all 0.3s ease;
}

.cta-btn:active{
transform: translateY(2px);
box-shadow: 0 2px 0 #8b0000;
}

.cta-btn.secondary{
display: inline-block;
padding: 14px 24px;
margin-top: 25px;
margin-bottom: 25px;
background:red;
color:#000;
font-weight: bold;
text-decoration: none;
border-radius: 6px;
transition: all 0.3s ease;
}

.cta-btn:hover{
transform: translateY(-4px);
}

@media (max-width: 600px){
.banner{min-height: auto;}
}