/*RESET*/
*{
margin:0;
padding: 0;
box-sizing: border-box;
}

/*GLOBAL*/
body{
font-family: Arial, Helvetica, sans-serif;
background: gold;
color:black;
}

/*HERO SECTION*/
.banner{
height: 350px;
background-size: contain;
background-position: center;
justify-content: center;
background-repeat: no-repeat;
}

.banner{
text-align: center;
padding: 30px 10px;
background-color: gold;
color: white;
}

.banner-img {
width: 100%;
max-height: 400px;
object-fit: contain;
border-radius: 10px;
margin-top: 15px;
}

.banner h1{
text-align: center;
padding: 30px 10px;
color: white;
font-weight: 100px;
background-color: #000;
}

.banner h2{
text-align: center;
padding: 30px 10px;
color: white;
background-color: #000;
}




/*dark overlay for text to pop*/
.hero::before{
content: "";
position: relative;
inset: 0;
background: rgba(0, 0, 0, 0.6);
}

.hero{
position: relative;    
}

/*HERO CONTENT*/
.hero-text h1{
position:relative;
max-width: 500px;
text-align: center;
padding: 40px 20px;
color: white;
}

.hero-text p{
position: relative;
max-width:500px;
text-align: center;
padding: 40px 20px;
color: white;
}



/*CTA BUTTON*/
.cta-container{
margin-top: 20px;
display: flex;
gap: 15px;
justify-content: center;
flex-wrap: wrap;
}

.cta-btn{
display: inline-block;
padding: 14px 24px;
margin-top: 25px;
margin-bottom: 25px;
background: #caa74d;
color:#000;
font-weight: bold;
text-decoration: none;
border-radius: 6px;
transition: all 0.3s ease;
}

.cta-btn.secondary{
display: inline-bock;
padding: 14px 24px;
margin-top: 25px;
margin-bottom: 25px;
background: #caa74d;
color:#000;
font-weight: bold;
text-decoration: none;
border-radius: 6px;
transition: all 0.3s ease;}