/*RESET*/
*{
margin:0;
padding: 0;
box-sizing: border-box;
}

/*GLOBAL*/
body{
font-family: Arial, Helvetica, sans-serif;
background: black;
color:black;
}

/*HERO SECTION*/
.banner{
text-align: center;
padding: 30px 10px;
background-color: black;
color: white;
padding-bottom: 24px;
box-align:center;
}

.banner-img {
width: 100%;
max-height: 400px;
object-fit: contain;
border-radius: 10px;
margin-top: 15px;
margin: 24px auto;
}

.banner-wrap{
background: white;
padding: 24px;
border-radius: 8px;
}

.banner h1{
text-align: center;
padding: 30px 10px;
color: black;
font-weight: 100px;
background-color: white;
font-size: 1.6rem;
margin-bottom: 8px;
}

.banner h2{
text-align: center;
padding: 30px 10px;
color: black;
background-color: white;
opacity: 0.85;
font-size: 1rem;
margin-top:-15px;
}

.tagline{
letter-spacing: 0.5px;
font-weight: 500;
}



/*CTA BUTTON*/


.cta-btn{
display: flex;
gap: 15px;
margin:20px auto;
max-width: 200px;
flex-direction: column;
align-items: center;

align-items: center;
justify-content: center;

width: 100%;
min-height: 52px;

padding: 14px;
text-align: center;

border-radius: 8px;
background: red;
color: white;
text-decoration: none;
font-weight: 600;

box-sizing: border-box;
box-shadow:#8b0000;
}




.cta-btn:active{
transform: translateY(2px);
}

.cta-btn.secondary{
display: flex;
gap: 15px;
margin:20px auto;
max-width: 200px;
flex-direction: column;
align-items: center;

align-items: center;
justify-content: center;

width: 100%;
min-height: 52px;

padding: 14px;
text-align: center;

border-radius: 8px;
background: red;
color: white;
text-decoration: none;
font-weight: 600;

box-sizing: border-box;
transition:all 0.3s ease;
}

.cta-btn:hover{
transform: translateY(-4px);
}


/*about section*/

.about{
max-width: 850px;
background-color: white;
margin:60px auto;
padding:30px 10px;
text-align: center;
padding-bottom: 24px;
border-radius: 6px;
border:20px;
}

.about h2{
font-size: 1.4em;
margin-bottom: 12px;
text-transform: uppercase;
}

.about p{
line-height: 1.7;
font-size: 1rem;
}

/*Discipline Section*/

.discipline-card h3{
font-size: 1.4em;
margin-bottom: 12px;
text-transform: uppercase;
text-align: center;
}

.discipline h2{
margin: 0 0 15px;
border-bottom: 2px solid transparent;
padding-bottom: 5px;
color:white;
text-align:center;
border-radius: 6px ;
background-color:red;
border-bottom: 6px solid green;
padding: 30px 10px;
max-width: 850px;
margin:60px auto;
padding-bottom: 24px;
border:20px;
}

.discipline p{
text-align: center;
color: white;
}

.discipline-card{
background-size: cover;
background-position: center;
border-radius: 16px;
padding: 25px;
color: white;
position: relative;
margin-top: 20px;
margin: 60px auto;
border: 20px;
/*discipline card height and width, game changer*/
height: 300px; /*COME HERE FOR HEIGHT AND WIDTH*/ 
width: 400px;
}

.discipline-grid{
display: flex;  
grid-template-columns: repeat(3, 1fr);
gap:2rem;
}

.discipline-card{
outline: 3px solid blue;
}


.discipline-section{
background: white;
color:black;
padding:40px 20px;
max-width:700px;
margin:50px auto;
border-radius:12px;
text-align:center;
box-shadow:0 4px 15px rgba(0, 0, 0, 0.4);
}

.discipline-section h2{
font-size:28px;
margin-bottom:20px;
}

.discipline-section p{
font-size:18px;
margin-bottom:45px;
line-height:1;
}

.discipline-section ul{
list-style:disc;
padding-left:20px;
text-align:left;
margin-bottom:25px;
}
.discipline-section ul li{
margin-bottom:10px;
font-size:16px;
color:black;
}


.discipline-section:hover{
translate: translateY(-4px);

}



/*individual cards*/

.Karate{
background-image: url(images/karate.jpg);
}

.Boxing{
background-image: url(images/boxing.jpg);
}

.Muay-Thai{
background-image:url(images/muay\ thai.jpg);
}

.Jiu-Jitsu{
background-image: url(images/bjj.jpg);
}

.discipline-card:hover{
transform: translateY(-5px);
border-color: grey;
}
 
/*gallery section*/

.gym-floor{
padding: 4rem 1.5rem;
background-color:#111;
color: black;
text-align: center;
}

.section-title{
font-size:2rem;
margin-bottom: 2rem;
color:#fff;
}

.gym-gallery{
display: grid;  
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap:1rem;
}

.gym-gallery img{
width:100%;
height: 250px;
object-fit:cover;
border-radius: 12px;
transition: all 0.3s ease;
}

.gym-gallery img:hover{
transform: scale(1.03);
}

.gym-contact{
padding: 4rem 1.5rem;
color:white;
text-align: center;
}

.gym-contact h3{
text-align: center;
margin-bottom: auto;

}

.section-title{
font-size:2rem;
margin-bottom: 2rem;
}

.contact-note{
margin-top: 1rem;
font-size: 0.9rem;
opacity: 0.7;
}

.site-footer{
background: linear-gradient(to top, grey, white);
padding:3rem, 1.5rem;
margin-top: 5rem;
border-top: 1px solid #ccc;
}

.footer-contact{
max-width:1100px;
margin:0 auto;
text-align:center;
}

.site-footer h3{
font-size:1.4rem;
margin-bottom:0.8em;
letter-spacing:1px;
color:grey;
}

.site-footer p{
font-size: 0.95rem;
opacity: 0.7;
line-height: 1.6;
transition: opacity 0.3s ease;
}

.footer-bottom{
display:flex;
justify-content: space-between;
font-size:0.8rem;
opacity: 0.6;
flex-wrap: wrap;
gap:0.5rem;
}

/*Coach Gallery section*/

.section-title{
font-size:2rem;
margin-bottom: 2rem;
color:#fff;
text-align: center;
}

.trainers{
padding: 4rem 1.5rem;
background-color:#111;
color: black;

}

.trainer-gallery{
display: column;  
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap:1rem;
}

.trainer-gallery img{
width:245px;
height: 300px;
object-fit:cover;
border-radius: 12px;
transition: all 0.3s ease;
}

.trainer-gallery img:hover{
transform: scale(1.03);
}

.trainer-gallery h3{
font-size: 1.5rem;
margin-top: 10px;
text-align: above; 
color:white;
}










/*individual pages About*/
.Bjj-about{
max-width: 850px;
background-color: white;
color: #000;
margin:60px auto;
padding:30px 10px;
text-align: center;
padding-bottom: 24px;
border-radius: 6px;
border:20px;
}


.Bjj-about h1{
margin: 0 0 15px;
border-bottom: 2px solid transparent;
padding-bottom: 5px;
color:white;
text-align:center;
border-radius: 6px ;
border-bottom: 6px solid green;
padding: 30px 10px;
max-width: 850px;
margin:60px auto;
padding-bottom: 24px;
border:20px;
}

@media (max-width: 600px){
.banner{min-height: auto;}
}


@media (max-width: 480px){
.section-title{font-size: 1.8rem;}
}

@media (max-width: 600px){
 .footer-bottom{
 justify-content: center;
 text-align: center;   
 }
 }


 /*LAPTOP AND BIGGER SCREEN SIZES*/
@media (max-width: 1024px){
    .discipline-grid{
        gap: 2rem;}
    }

 .discipline-card{ 
    flex: none;
    height: 600px; /*COME HERE FOR HEIGHT AND WIDTH*/
    width: 700px;
}



 /*PHONE STYLES*/
 @media (max-width: 600px){
    .discipline-grid{
        display: flex;
        gap: 2rem;
    }

    .discipline-card{
        flex: none;
        height: 200px; /*COME HERE FOR HEIGHT AND WIDTH*/
        width: 300px;
    }
 }